body {
  background-color: var(--primary-common-white);
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  height: 100%;
}

.menu {
  margin-right: 2rem;
}

.offcanvas-body {
  width: 30rem;
}

.logo {
  max-width: 10rem;
}

.navbar {
  padding-left: 13rem;
  padding-right: 13rem;
}

.header-scroll {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;

  z-index: 999;
  transition: cubic-bezier(0.3, 0.73, 0.3, 0.74) 0.5s;
}
